body {
    /* height: 100vh; */
    padding: 0px;
    margin: 0px;
    background-color: #FFD365 !important;
  }

input{
    height: 50px;
    width: 80%;
    border-radius: 50px;
}

  h1 {
    margin-top: 12px;
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }
  button{
      height:50px;
      width: 100px;
      border-radius: 50px !important;
      border: 2px solid black !important;
  }
  .container {
    margin: auto;
    height: 75vh;
    padding: 33px;
    overflow-y: auto;
    border-radius: 50px;
    background-color: #9ADCFF; 
    top: 5%;
    border: 2px solid black;
    overflow-x: auto;
    position: relative;
    flex-grow: 1;
  }
  
  .message {
    background-color: #E8FFC2;
    width: 30%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
  }
  
  .left {
    float: left;
    clear: both;
  }
  
  .right {
    float: right;
    clear: both;
  }
  
  #send-container {
    width: 80%;
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
    flex-grow: 1;
    margin-top: 10px;
  }


  
